gcc-4*
bin
*/bin
dox
*~
*.pyc
a.out
core.*
.directory
*.o
*.d
*.a
.project
.cproject
*/install-bin
my_infracore_*etags*
my_basetrade_*etags*
.Rhistory
*.swp
.RData
.DS_Store
.settings
.metadata*
ALL.xml
Tests/data/newfile_append_test.txt

