Endpoint = wss://ws-feed.exchange.coinbase.com
product_ids = ETH-USD,BTC-USD,USDT-USD,ADA-USD,SOL-USD,VGX-USD,MATIC-USD,ETH-USDT,ETC-USD,SHIB-USD,ATOM-USD,ETH-EUR,LINK-USD,LTC-USD,BTC-USDT
#product_ids = LINK-USD,LTC-USD,BTC-USDT
output_path = /home/ubuntu/raghu/Dump_cpp
channels = full
product_id_thread_1 = ETH-USD
product_id_thread_2 = BTC-USD
product_id_thread_3 = ETH-USDT,VGX-USD
product_id_thread_4 = BTC-USDT,LTC-USD,SHIB-USD
product_id_thread_5 = USDT-USD,ATOM-USD,MATIC-USD,ADA-USD
product_id_thread_6 = SOL-USD,ETH-EUR,LINK-USD,ETC-USD

